[submodule "reference/localagg"]
	path = reference/localagg
	url = https://github.com/mhw32/multimodal-local-aggregation
[submodule "reference/mvae"]
	path = reference/mvae
	url = https://github.com/mhw32/multimodal-family
[submodule "reference/datasets/refer"]
	path = reference/datasets/refer
	url = https://github.com/lichengunc/refer
[submodule "reference/skip-thoughts.torch"]
	path = reference/skip-thoughts.torch
	url = https://github.com/Cadene/skip-thoughts.torch.git
